PORT=
PASSWORD_SECRET=
NODE_ENV=
JWT_SECRET=
COOKIE_MAX_AGE=
COOKIE_SECRET=

MY_SQL_HOST=
MY_SQL_PORT=
MY_SQL_USER=
MY_SQL_PASSWORD=
MY_SQL_DATABASE=

Step 1
npm run migrate
Step 2
npm run seed
Step 3
npm run dev